<p-table
        [value]="genes"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Uploaded As</th>
            <th>
               <div>
                    Selectable ID Type
                    <p-columnFilter field="id_type" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false">
                        <ng-template #header>
                            <div class="px-4 pt-4 pb-0">
                                <span class="font-bold">Id Type</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate=filter>
                            <p-dropdown
                                [options]="idTypes"
                                [(ngModel)]="selectedIdType"
                                (onChange)=fetchGeneValues(selectedIdType?.code)
                                optionLabel="name"
                                placeholder="Select One"
                            >
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th>Score</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gene>
        <tr>
            <td>{{gene.gsv_source_list[0]}}</td>
            <td>{{gene.ode_ref_id ? gene.ode_ref_id : 'None'}}</td>
            <td>{{gene.gsv_value | number:'1.2-4'}}</td>
        </tr>
    </ng-template>
</p-table>
